@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.contraseñas {
  width: 70%;
  max-width: 800px;
  margin: 20px auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "netflix hbo"
    "disney prime"
    "paramount star";
}

.netflix {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: netflix;
}

.hbo {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: hbo;
}

.disney {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: disney;
}

.prime {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: prime;
}

.star {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: star;
}

.paramount {
  font-family: DynaPuff;
  grid-area: st1;
  background-color: transparent;
  width: 300px;
  height: 100px;
  border: outset black;
  grid-area: paramount;
}

@media screen and (max-width: 900px) {
  body {
    margin-left: 20px;
    padding: 0;
    width: 300px;
  }

  .contraseñas {
    grid-template-areas:
      "netflix"
      "disney"
      "prime"
      "paramount"
      "star"
      "hbo";
  }
}
